<ion-header>
    <ion-navbar>
        <ion-title>
            Contact us
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <ion-item>
            <p>Call us</p>
            <h2>+1 987 654 3210</h2>
            <ion-avatar item-end>
                <ion-icon name="md-call"></ion-icon>
            </ion-avatar>
        </ion-item>
        <ion-item>
            <p>Email us</p>
            <h2>help@quickwash.com</h2>
            <ion-avatar item-end>
                <ion-icon name="md-mail"></ion-icon>
            </ion-avatar>
        </ion-item>
        <ion-item>
            <p>Reach us</p>
            <h2>QuickWash Tower<br>1024, Old Church Street,<br>New York, USA</h2>
        </ion-item>
    </ion-list>
    <div class="map">
        <ion-icon name="md-navigate"></ion-icon>
        <img src="assets/imgs/map-img.png">
    </div>
</ion-content>
