<ion-header>
    <ion-navbar>
        <ion-title>My Address</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <p padding-left padding-right class="heading">Click on icons to add Address</p>
    <ion-toolbar no-border-top class="select-tab">
        <ion-segment [(ngModel)]="address">
            <ion-segment-button value="home">
                <span class="home-img"></span> Home
            </ion-segment-button>
            <ion-segment-button value="office">
                <span class="office-img"></span> Office
            </ion-segment-button>
            <ion-segment-button value="other">
                <span class="other-img"></span> Other
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="address" class="address-list">
        <ion-list *ngSwitchCase="'home'" no-lines class="home-address">
            <div class="input-address" padding>
                <p class="heading" no-margin padding-bottom>Enter Home Address Details</p>
                <ion-list no-line>
                    <ion-item>
                        <ion-input type="text" placeholder="Building/Society Name & Number"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Street Address, Landmark, etc."></ion-input>
                    </ion-item>
                    <ion-row no-padding>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input type="text" placeholder="Zip Code"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input type="text" placeholder="City"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
                <button ion-button full>Save Address</button>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'office'" no-lines class="office-address">
            <div class="input-address" padding>
                <p class="heading" no-margin padding-bottom>Enter Office Address Details</p>
                <ion-list no-line>
                    <ion-item>
                        <ion-input type="text" placeholder="Building/Society Name & Number"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Street Address, Landmark, etc."></ion-input>
                    </ion-item>
                    <ion-row no-padding>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input type="text" placeholder="Zip Code"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input type="text" placeholder="City"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
                <button ion-button full>Save Address</button>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'other'" no-lines class="other-address">
            <div class="input-address" padding>
                <p class="heading" no-margin padding-bottom>Enter Other Address Details</p>
                <ion-list no-line>
                    <ion-item>
                        <ion-input type="text" placeholder="Building/Society Name & Number"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Street Address, Landmark, etc."></ion-input>
                    </ion-item>
                    <ion-row no-padding>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input type="text" placeholder="Zip Code"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col no-padding>
                            <ion-item>
                                <ion-input type="text" placeholder="City"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
                <button ion-button full>Save Address</button>
            </div>
        </ion-list>
    </div>
</ion-content>
