<ion-header>
    <ion-navbar>
        <ion-title>Register now</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-icon name="md-camera" class="cam-icon"></ion-icon>
    <p text-center>Add Photo</p>
    <ion-list no-lines class="form">
        <ion-item>
            <ion-icon name="md-person" item-start></ion-icon>
            <ion-label floating>Enter Full Name</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-mail" item-start></ion-icon>
            <ion-label floating>Email Address</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-phone-portrait" item-start></ion-icon>
            <ion-label floating>Phone Number</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label floating>Create Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="otp()">Register Now</button>
</ion-content>
