<ion-header>
    <ion-navbar>
        <!--      <ion-title>Earnings</ion-title>-->
        <div class="banner">
            <ion-item>
                <ion-select [(ngModel)]="earnings">
                    <ion-option value="m1">Earnings</ion-option>
                    <ion-option value="m2">Cash Collected</ion-option>
                </ion-select>
            </ion-item>
            <h1 text-center>$ 168.50</h1>
            <ion-item class="times">
                <ion-select [(ngModel)]="times">
                    <ion-option value="d1">This Week</ion-option>
                    <ion-option value="d2">This Month</ion-option>
                </ion-select>
            </ion-item>
        </div>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <h3 class="heading">26 oct' 18</h3>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <h2>Order No: 22145052</h2>
                    <p>Laundry Deliverd</p>
                </ion-col>
                <ion-col col-4 class="payment-type">
                    <h2><strong>$ 35.00</strong></h2>
                    <p>Cash Collected</p>
                </ion-col>
                <ion-col col-3 class="earned">
                    <h2>$ 08.00</h2>
                    <p>Earned</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <h2>Order No: 22145052</h2>
                    <p>Laundry Pickuped</p>
                </ion-col>
                <ion-col col-4 class="payment-type">
                    <h2><strong>$ 29.00</strong></h2>
                    <p>Paid via Card</p>
                </ion-col>
                <ion-col col-3 class="earned">
                    <h2>$ 07.00</h2>
                    <p>Earned</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <h2>Order No: 22145052</h2>
                    <p>Laundry Deliverd</p>
                </ion-col>
                <ion-col col-4 class="payment-type">
                    <h2><strong>$ 56.00</strong></h2>
                    <p>Cash Collected</p>
                </ion-col>
                <ion-col col-3 class="earned">
                    <h2>$ 10.00</h2>
                    <p>Earned</p>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list no-lines>
        <h3 class="heading">18 oct' 18</h3>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <h2>Order No: 22145052</h2>
                    <p>Laundry Pickuped</p>
                </ion-col>
                <ion-col col-4 class="payment-type">
                    <h2><strong>$ 35.00</strong></h2>
                    <p>Cash Collected</p>
                </ion-col>
                <ion-col col-3 class="earned">
                    <h2>$ 08.00</h2>
                    <p>Earned</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <h2>Order No: 22145052</h2>
                    <p>Laundry Deliverd</p>
                </ion-col>
                <ion-col col-4 class="payment-type">
                    <h2><strong>$ 35.00</strong></h2>
                    <p>Cash Collected</p>
                </ion-col>
                <ion-col col-3 class="earned">
                    <h2>$ 08.00</h2>
                    <p>Earned</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <h2>Order No: 22145052</h2>
                    <p>Laundry Pickuped</p>
                </ion-col>
                <ion-col col-4 class="payment-type">
                    <h2><strong>$ 35.00</strong></h2>
                    <p>Cash Collected</p>
                </ion-col>
                <ion-col col-3 class="earned">
                    <h2>$ 08.00</h2>
                    <p>Earned</p>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
