<ion-header>
    <ion-navbar>
        <ion-title>Account</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="order-head" (click)="profile()">
        <ion-row>
            <ion-col col-4><img src="assets/imgs/face.png"></ion-col>
            <ion-col>
                <p>Sam Smith<span>View profile</span></p>
            </ion-col>
        </ion-row>
    </div>
    <ion-list no-lines>
        <ion-item (click)="myorders()">
            <ion-icon name="md-list-box" item-start></ion-icon>
            My Orders
        </ion-item>
        <ion-item (click)="addaddress()">
            <ion-icon name="md-pin" item-start></ion-icon>
            My address
        </ion-item>
        <ion-item (click)="about()">
            <ion-icon name="md-clipboard" item-start></ion-icon>
            About us
        </ion-item>
        <ion-item (click)="contact()">
            <ion-icon name="md-mail" item-start></ion-icon>
            Contact us
        </ion-item>
        <ion-item (click)="tnc()">
            <ion-icon name="md-document" item-start></ion-icon>
            Terms & Services
        </ion-item>
        <ion-item (click)="signin()">
            <ion-icon name="md-open" item-start></ion-icon>
            Logout
        </ion-item>
    </ion-list>
    <p text-center class="about">Opus labs Version 2.0.101</p>
</ion-content>
