<ion-header>
    <ion-toolbar>
        <ion-title text-center>{{service.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="status" padding text-center>
        <img src="assets/imgs/delivered.png">
        <p>Hey Sam,<br>Your order has been<br> Delivered Successfully</p>
    </div>
    <div class="rate" padding text-center>
        <p>Rate your last order experiece</p>
        <div class="stars">
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star"></ion-icon>
            <ion-icon name="md-star-half"></ion-icon>
            <ion-icon name="md-star-outline"></ion-icon>
        </div>
        <ion-input type="text" placeholder="Share your experiece in words"></ion-input>
        <button ion-button full style="height: 50px" (click)="tabs()">Submit Review</button>
    </div>

    <ion-list  no-lines class="assigned" padding-top>
        <ion-item *ngFor="let data of datos" [routerLink]="['/plan']" [queryParams]="data">
            <ion-avatar item-start>
                <img src="assets/imgs/dispatched.png">
            </ion-avatar>
            <div class="contant">
                <h2 class="d-flex">
                        <span class="text">
                        {{data.nombreplan_internet}}
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                    <span class="end">
                        <button ion-button blok full padding-top padding-bottom (click)="orderinfo()">Delivered</button>
                        </span>
                </h2>
                <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small>
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                    <span class="end text">
                            <small>
                                Payment
                            </small>
                            <strong>
                              $ 78.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                </h3>
                <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small>
                            <strong>
                               B11 Old Ford Street, Workshop tower
                        </strong>
                        </span>
                </h3>
            </div>
        </ion-item>

    </ion-list>
</ion-content>
