.status {
  background-color: #fff;
  border-bottom: 5px solid var(--ion-background-color-light);
  img {
    width: 110px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
  p {
    font-weight: 600;
    color: var(--ion-text-color-dark);
    line-height: 1.5;
  }
}
.rate {
  background-color: #fff;
  p {
    font-weight: 600;
    color: var(--ion-text-color-dark);
    line-height: 1.5;
    margin-bottom: 35px;
  }
  .stars {
    font-size: 3.2rem;
    margin-bottom: 45px;
    color: var(--ion-text-colort);
    .ion-md-star-outline {
      color: var(--ion-text-color-light);
    }
  }
  .text-input {
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--ion-text-color-light);
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
}
