
  .logo {
    width: 130px;
    margin: auto;
    margin-bottom: 50px;
    display: block;
  }
  .button {
    height: 50px;
    font-size: 1.5rem;
  }
  .form {
    margin-bottom: 30px;
  }
  p {
    line-height: 30px;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
  }
