<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <img src="assets/imgs/logo.png" class="logo">
    <h3 text-center>Ingresa a MiHello! isp</h3>
    <ion-list no-lines class="form">
        <ion-item>
            <ion-icon name="md-mail" item-start></ion-icon>
            <ion-label floating>ID del Titular</ion-label>
            <ion-input #email value="juanjosem2011@gmail.com" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label  floating>Contraseña</ion-label>
            <ion-input value="123456" type="password" #password></ion-input>
           <!-- <h5 item-end (click)="password()">La Olvidó ?</h5>-->
        </ion-item>
    </ion-list>
    <ion-button  expand="full" mode="ios"  shape="round" fill="solid"  (click)="atempLogin()">Ingresar</ion-button>

    <!--<ion-button ion-button outline block (click)="signup()">Crear Contraseña</ion-button>-->
</ion-content>
