<ion-header>
  <ion-toolbar>
    <ion-title>Histórico de pagos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="facturacion"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

<ion-card  *ngFor ="let data of datos">
  <ion-card-header>
    <ion-card-title>Período de Facturación {{data.periodo_facturacion}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
  <ion-item lines="none">
    <ion-label>Fecha del pago</ion-label>
    <ion-note slot="end" *ngIf="data.historial_pago[0]">{{data.historial_pago[0].date}}</ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Valor del pago</ion-label>
    <ion-note slot="end" *ngIf="data.historial_pago[0]">$ {{data.historial_pago[0].sumadepagos!="" &&
    data.historial_pago[0].sumadepagos!=null && data.historial_pago[0].sumadepagos!="null" ?data.historial_pago[0].sumadepagos:0.00 }}</ion-note>
  </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>



</ion-content>
