page-changepassword {
    .button {
        height: 50px;
        font-size: 1.5rem;
    }
    .form {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 50px;
        margin-top: 30px;
    }
}
