<ion-header>
    <ion-navbar>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p text-center>Let us know your registered email Address<br>and we'll send you password reset<br>instruction</p>
    <ion-list no-lines class="form">
        <ion-item>
            <ion-icon name="md-mail" item-start></ion-icon>
            <ion-label floating>Enter Email Address</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="otp()">Submit</button>
</ion-content>
