<ion-header>
    <ion-navbar>
        <ion-title>
            About Us
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        <div class="logo">
            <img src="assets/imgs/logo2.png">
        </div>
        <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
    </div>
    <div class="services" padding>
        <p>Our Services</p>
        <ion-row>
            <ion-col><img src="assets/imgs/washing.png"> Washing
            </ion-col>
            <ion-col><img src="assets/imgs/iron.png">Ironing
            </ion-col>
            <ion-col><img src="assets/imgs/dryclean.png">Dry Clean
            </ion-col>
        </ion-row>
    </div>

</ion-content>
