<ion-header>
    <ion-navbar>
        <ion-title>Notification</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <ion-item *ngFor="let item of items">
            <ion-avatar item-start>
                <img [src]="item.image">
            </ion-avatar>
            <ion-label>
                <h2 [innerHTML]="item.title"></h2>
                <p [innerHTML]="item.detail"></p>
            </ion-label>
            <ion-note item-end [innerHTML]="item.time"></ion-note>

        </ion-item>
    </ion-list>
</ion-content>
