<ion-header>
    <ion-navbar>
        <ion-title>My Profile</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="profile-img"><img src="assets/imgs/face.png">
        <!--        <ion-icon name="md-camera" item-start></ion-icon>-->
    </div>

    <ion-list no-lines class="form">
        <ion-item>
            <ion-icon name="md-person" item-start></ion-icon>
            <ion-label floating>Enter Full Name</ion-label>
            <ion-input type="text" value="George Smith"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-mail" item-start></ion-icon>
            <ion-label floating>Email Address</ion-label>
            <ion-input type="emil" value="georgesmith@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-phone-portrait" item-start></ion-icon>
            <ion-label floating>Phone Number</ion-label>
            <ion-input type="text" value="+1 987 654 3210"></ion-input>
        </ion-item>
    </ion-list>
    <!--    <button ion-button full>Register Now</button>-->
    <div class="fixed-bottom ">
        <p text-center (click)="changepassword()">Change Password</p>
    </div>
</ion-content>
