<ion-header>
    <ion-navbar>
        <ion-title>Pickup & Deliveries</ion-title>

    </ion-navbar>
    <ion-segment [(ngModel)]="status">
        <ion-segment-button value="assigned">
            Assigned
        </ion-segment-button>
        <ion-segment-button value="completed">
            Completed
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="bg-light">
    <div [ngSwitch]="status" class="order-list">
        <ion-list *ngSwitchCase="'assigned'" no-lines class="assigned" padding-top>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/dispatched.png">
                </ion-avatar>
                <div class="contant">
                    <h2 class="d-flex">
                        <span class="text">
                        Ready to Deliver
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                        <span class="end">
                        <button ion-button blok full padding-top padding-bottom (click)="orderinfo()">Delivered</button>
                        </span>
                    </h2>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small> 
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                        <span class="end text">
                            <small>
                                Payment
                            </small> 
                            <strong>
                              $ 78.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                    </h3>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small> 
                            <strong>
                               B11 Old Ford Street, Workshop tower                               
                        </strong>
                        </span>
                    </h3>
                </div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/pickedup.png">
                </ion-avatar>
                <div class="contant">
                    <h2 class="d-flex">
                        <span class="text">
                        Ready to Pick up
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                        <span class="end">
                        <button ion-button blok full padding-top padding-bottom (click)="orderinfo()">Pickep up</button>
                        </span>
                    </h2>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small> 
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                        <span class="end text">
                            <small>
                                Payment
                            </small> 
                            <strong>
                              $ 125.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                    </h3>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small> 
                            <strong>
                               B11 Old Ford Street, Workshop tower                               
                        </strong>
                        </span>
                    </h3>
                </div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/dispatched.png">
                </ion-avatar>
                <div class="contant">
                    <h2 class="d-flex">
                        <span class="text">
                        Ready to Deliver
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                        <span class="end">
                        <button ion-button blok full padding-top padding-bottom (click)="orderinfo()">Delivered</button>
                        </span>
                    </h2>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small> 
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                        <span class="end text">
                            <small>
                                Payment
                            </small> 
                            <strong>
                              $ 78.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                    </h3>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small> 
                            <strong>
                               B11 Old Ford Street, Workshop tower                               
                        </strong>
                        </span>
                    </h3>
                </div>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'completed'" no-lines class="completed" padding-top>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/dispatched.png">
                </ion-avatar>
                <div class="contant">
                    <h2 class="d-flex">
                        <span class="text">
                        Delivered
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                        <span class="end">
                       <small>
                           Earned
                           <strong>
                               $ 12.00
                           </strong>
                            </small>
                        </span>
                    </h2>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small> 
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                        <span class="end text">
                            <small>
                                Payment
                            </small> 
                            <strong>
                              $ 78.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                    </h3>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small> 
                            <strong>
                               B11 Old Ford Street, Workshop tower                               
                        </strong>
                        </span>
                    </h3>
                </div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/dispatched.png">
                </ion-avatar>
                <div class="contant">
                    <h2 class="d-flex">
                        <span class="text">
                        Delivered
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                        <span class="end">
                       <small>
                           Earned
                           <strong>
                               $ 12.00
                           </strong>
                            </small>
                        </span>
                    </h2>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small> 
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                        <span class="end text">
                            <small>
                                Payment
                            </small> 
                            <strong>
                              $ 78.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                    </h3>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small> 
                            <strong>
                               B11 Old Ford Street, Workshop tower                               
                        </strong>
                        </span>
                    </h3>
                </div>
            </ion-item>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/dispatched.png">
                </ion-avatar>
                <div class="contant">
                    <h2 class="d-flex">
                        <span class="text">
                        Delivered
                            <small>
                               Order No: 22145052
                            </small>
                        </span>
                        <span class="end">
                       <small>
                           Earned
                           <strong>
                               $ 12.00
                           </strong>
                            </small>
                        </span>
                    </h2>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                 Delivery time
                            </small> 
                            <strong>
                                Today, 21 June
                                <span>01:00pm - 02:00pm</span>
                        </strong>
                        </span>
                        <span class="end text">
                            <small>
                                Payment
                            </small> 
                            <strong>
                              $ 78.00
                                <span>Cash on Delivery</span>
                        </strong>
                        </span>
                    </h3>
                    <h3 class="d-flex">
                        <span class="text">
                            <small>
                                Delivery Address
                            </small> 
                            <strong>
                               B11 Old Ford Street, Workshop tower                               
                        </strong>
                        </span>
                    </h3>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
