<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="" tabIcon="md-bus" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="" tabIcon="md-notifications" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="" tabIcon="logo-usd" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="" tabIcon="md-menu" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
