<ion-header>
    <ion-navbar>
        <ion-title>Order No. 22145052<br><span>21 June, 2018</span></ion-title>
    </ion-navbar>
    <ion-list class="details" no-lines>
        <ion-item item-start>
            <h2>
                Ordered by<strong>Samantha Smith</strong>
            </h2>
            <ion-avatar item-end>
                <ion-icon name="md-call"></ion-icon>
            </ion-avatar>
        </ion-item>
        <ion-item item-start class="status">
            <h2>
                Ordered status<strong>Ready to Deliver</strong>
            </h2>
            <ion-avatar item-end>
                <img src="assets/imgs/dispatched.png">
            </ion-avatar>
        </ion-item>
    </ion-list>
    <ion-segment [(ngModel)]="order">
        <ion-segment-button value="order_info">
            Order Info
        </ion-segment-button>
        <ion-segment-button value="cloth_list">
            Cloth List
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content class="bg-light">
    <div [ngSwitch]="order" class="order-list">
        <div *ngSwitchCase="'order_info'" no-lines class="order_info">
            <div class="info">
                <ion-row>
                    <ion-col col-6>
                        <p><small>Picked up</small></p>
                        <h2><strong>Yesterday, 21 June </strong> <span>09:00 am - 10:00am</span></h2>
                    </ion-col>
                    <ion-col col-6>
                        <p><small>Delivery</small></p>
                        <h2><strong>Today, 22 June </strong> <span>01:00 pm - 02:00pm</span></h2>
                    </ion-col>
                </ion-row>
            </div>

            <div class="address info">
                <ion-row>
                    <p><small>Pick up Address</small></p>
                    <ion-col col-10>
                        <h2><strong>B11 Old Ford Street, Workshop Tower Lewisham, Sydney</strong></h2>
                    </ion-col>

                    <ion-col col-2>
                        <ion-icon name="ios-navigate-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <div class="map">
                    <img src="assets/imgs/map-img.png">
                </div>
            </div>
            <div class="info payment">
                <p><small>Payment</small></p>
                <ion-row>
                    <ion-col col-8>
                        <h2><strong>$ 78.00</strong>
                            <span>Cash on delivery</span>
                        </h2>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button outline block>View Billing</button>
                    </ion-col>
                </ion-row>
                <button ion-button block margin-top class="btn">Deliverd</button>
            </div>
        </div>
        <div *ngSwitchCase="'cloth_list'" no-lines class="cloth_list">
            <div class="receipt">
                <ion-row>
                    <ion-col col-7>
                        <h2><strong>2<span>x</span> Shirts (Man)</strong></h2>
                    </ion-col>
                    <ion-col col-5>
                        <p><small>Wash & iron</small> <strong>$20</strong></p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-7>
                        <h2><strong>3<span>x</span> Trouser (Man)</strong></h2>
                    </ion-col>
                    <ion-col col-5>
                        <p><small>Wash & iron</small> <strong>$25</strong></p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-7>
                        <h2><strong>1<span>x</span> Jeans (Man)</strong></h2>
                    </ion-col>
                    <ion-col col-5>
                        <p><small>Wash & Fold</small> <strong>$20</strong></p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-7>
                        <h2><strong>2<span>x</span> T-shirt (Woman)</strong></h2>
                    </ion-col>
                    <ion-col col-5>
                        <p><small>Wash & iron</small> <strong>$18</strong></p>
                    </ion-col>
                </ion-row>
                <div class="total" padding-top>
                    <ion-row>
                        <ion-col col-6>
                            <h2>Sub Total</h2>
                        </ion-col>
                        <ion-col col-6>
                            <p><small></small> <strong>$73</strong></p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <h2>Tax</h2>
                        </ion-col>
                        <ion-col col-6>
                            <p><small></small> <strong>$5</strong></p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="grend_total">
                        <ion-col col-6>
                            <h2><strong>Cash on Delivery</strong></h2>
                        </ion-col>
                        <ion-col col-6>
                            <p><strong>$78</strong></p>
                        </ion-col>
                    </ion-row>
                </div>

            </div>
            <div class="fixed-bottom">
                <button ion-button block>Delivered</button>
            </div>
        </div>
    </div>
</ion-content>
