<ion-header>
    <ion-toolbar>
        <ion-title>Respuesta de pago</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Esta pagina se usaria inicialmente para pagar, pero ahora se usa como respuesta ya que se usa web checkout -->
<ion-content padding>
    <div class="full-width" *ngIf="status == 'fail'" >
        <h1>Su pago ha sido rechazado</h1>

    </div>
    <div class="full-width" *ngIf="status == 'success'" >
        <h1>Su pago ha sido aceptado</h1>

    </div>
    <div class="full-width" *ngIf="status == 'pending'" >
        <h1>Su pago está en estatus pendiente</h1>
        Se enviará una notificación por mensaje de texto cuando ocurra un cambio

    </div>

    <ion-button [routerLink]="['/home']"  expand="block">Regresar</ion-button>
</ion-content>
