<ion-header>
    <ion-toolbar>
        <ion-title>PSE</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label position="floating" >Documento de Identificaci&oacute;n</ion-label>
    <ion-list>
        <ion-item>
            <ion-label>Seleccione</ion-label>
            <ion-select value="brown" okText="Ok" cancelText="Cerrar" (ionChange)="selecMetodPago($event)" >
                <ion-select-option value="PSE">PSE</ion-select-option>
                <ion-select-option value="TDC">Tarjeta de credito</ion-select-option>
                <ion-select-option value="EFEC">Efectivo</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>
    <br>

    <br>
    <ion-item>
        <ion-label position="floating" >N&uacute;mero Documento</ion-label>
        <ion-input type="text" value="" #email></ion-input>
    </ion-item>

    <br>
    <ion-item>
        <ion-label position="floating" >N&uacute;mero Document</ion-label>
        <ion-input type="text" value="" #email></ion-input>
    </ion-item>

    <br>
    <ion-item>
        <ion-label position="floating" >Correo Electr&oacute;nico</ion-label>
        <ion-input type="text" value="j" #email></ion-input>
    </ion-item>

    <br>
    <br>



    <ion-button (click)="confirmMetodoPago()" expand="block" >Confirmar</ion-button>
</ion-content>
