<ion-header>
    <ion-navbar>
        <ion-title>Review Order</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="all-orders">
        <p class="order-header">Your cloth<span>Edit</span></p>
        <ion-label>
            <span class="items">2</span>
            <span class="cross">x</span>
            <span class="name">Shirt (Man)</span>
            <span class="service">Wash & Iron</span>
            <span class="amount">$20</span>
        </ion-label>
        <ion-label>
            <span class="items">3</span>
            <span class="cross">x</span>
            <span class="name">Trouser (Man)</span>
            <span class="service">Wash & Iron</span>
            <span class="amount">$25</span>
        </ion-label>
        <ion-label>
            <span class="items">1</span>
            <span class="cross">x</span>
            <span class="name">Jeans (Man)</span>
            <span class="service">Wash & Fold</span>
            <span class="amount">$10</span>
        </ion-label>
        <ion-label>
            <span class="items">2</span>
            <span class="cross">x</span>
            <span class="name">T-Shirt (Woman)</span>
            <span class="service">Wash & Iron</span>
            <span class="amount">$18</span>
        </ion-label>
        <p class="add-more">Add more</p>
    </div>
    <div class="fixed-bottom">
        <p class="promo-code">
            <ion-icon name="md-pricetag"></ion-icon>Have Promocode?
        </p>
        <div class="price-section">
            <ion-label>Sub Total<span>$73</span></ion-label>
            <ion-label>Tax<span>$5</span></ion-label>
            <ion-label class="total-amount">Payble Amount<span>$78</span></ion-label>
        </div>
        <p (click)="selectaddress()" text-center class="btn">Confirm Order
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </p>
    </div>
</ion-content>
