// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-button{
  --border-radius: 5px;
}

//header style
.header {
  &::after {
    display: none;
  }
  .toolbar-background {
    background-color: #fff;
    border-color: transparent;
  }
}


.bg-white{
  background-color: #fff ;
}