page-signin {
    //    .logo {
    //        width: 130px;
    //        margin: auto;
    //        margin-bottom: 50px;
    //        display: block;
    //    }
    h3 {
        margin-top: 0;
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
    }
    .form {
        margin-bottom: 30px;
    }
    p {
        line-height: 30px;
        padding-top: 10px;
        font-size: 1.3rem;
        font-weight: 500;
        color: darken($text-light, 40%);
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
    }
}
