<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
    <!--    <img src="assets/imgs/logo.png" class="logo">-->
    <h3 text-center>Sign in to QuickDelivery</h3>
    <ion-list no-lines class="form">
        <ion-item>
            <ion-icon name="md-mail" item-start></ion-icon>
            <ion-label floating>Email or Phone Number</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="md-lock" item-start></ion-icon>
            <ion-label floating>Password</ion-label>
            <ion-input type="password"></ion-input>
            <h5 item-end (click)="password()">Forgot ?</h5>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="tab()">Sign in</button>
    <div class="fixed-bottom" padding>
        <p text-center>Oh! Not Registered yet?</p>
        <button ion-button outline block (click)="signup()">Register Now</button>
    </div>
</ion-content>
