<ion-header>
    <ion-toolbar>
        <ion-title> Bienvenido a <strong>MiHello! </strong>isp</ion-title>


        <ion-button (click)="this.userService.logout()" color="primary" slot="secondary" fill="outline">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card class="bg-white">
        <ion-card-content>
            {{dataenlocal.name!='null'?dataenlocal.name:""}} {{dataenlocal.surname!='null'?dataenlocal.surname:""}}<br>
            {{dataenlocal.address!='null'?dataenlocal.address:""}}<br>
            {{dataenlocal.nro_identificacion!='null'?dataenlocal.nro_identificacion:""}}
        </ion-card-content>
    </ion-card>
    <p padding-left padding-right class="heading">Planes</p>
    <div class="scroll" scrollX style="height:165px;white-space: nowrap;">
        <div class="scroll-item" *ngFor="let service of services" [routerLink]="['/planes']"
             [queryParams]="service">
            <div class="item-box">
                <img src="assets/imgs/credit.png" style="width: 90px;">
                <h5>{{service.name}}</h5>
                <p>{{service.total_planes}} Plan(es)</p>
            </div>
        </div>
    </div>

    <p padding-left padding-right class="heading">Pagos Pendientes({{lengthdatos}})</p>
    <div padding-left padding-right class="order-list">
        <ion-list no-lines *ngFor="let data of invoices">
            <ion-item *ngIf="data.status_id ==3 || data.status_id == 5 ">
                <ion-avatar item-start>
                    <img src="assets/imgs/confirmed.png">
                </ion-avatar>


                <ion-text>
                    <h2>{{data.descripcion_fac}}</h2>
                    <p *ngIf="data.status_id ==3  ">No pagado</p>
                    <p *ngIf="data.status_id == 5 ">Vencido</p>
                </ion-text>
                <ion-note slot="end"><p>${{data.total}}</p>
                    <small>{{data.fecha_corte}}</small>
                </ion-note>
            </ion-item>


        </ion-list>
    </div>
</ion-content>
