ion-content {

  --ion-background-color: #f6f7f8;
}

.scroll {
  overflow-x: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.swiper-pagination {
  text-align: left;
  padding-left: 16px;
}

.swiper-container {
  height: auto;
  .banner-text {
    position: absolute;
    top: 0;
    text-align: left;
    padding: 5px;
    h2 {
      font-size: 12px;
      margin-left: 16px;
      margin-top: 30px;
    }
  }
}

.scroll-item {
  display: inline-block;
  width: 120px;
  text-align: center;
  .item-box {
    background: #fff;
    margin: 0px 4px;
    padding: 10px;
    border-radius: 5px;
    h5 {
      font-size: 12px;
      margin-bottom: 0px;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      color: var(--ion-text-color-light);
      margin: 0;
    }
  }
}

.heading {
  font-weight: 600;
  display: flex;
  color: var(--ion-text-color-light);
  padding-top: 5px;
  span {
    font-weight: 600;
    color: var(--ion-text-color);
    margin-left: auto;
  }
}

.order-list {
  .item {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    ion-text{
      padding-left: 12px;
      word-break: break-all;
    }
    ion-avatar {
      width: 55px;
      height: 55px;
      img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
      }
    }
    h2 {
      font-size: 12px;
      font-weight: 600;
      color: var(--ion-text-color-dark);
      word-break: break-all;
    }
    p {
      font-size: 10px;
      font-weight: 400;
      color: var(--ion-color-primary);
    }
    ion-note {
      font-size: 1.2rem;
      color: var(--ion-text-color-dark);
      text-align: right;
      font-weight: 500;
      p {

        color: var(--ion-color-dark);

      }
      small {
        display: block;
        color: var(--ion-text-color-light);
        margin-top: 3px;
      }
    }
  }
}
