<ion-header>
  <ion-toolbar>
    <ion-title>Administra tu factura</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="plan"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
Aqui encuentras todo lo relacionado con tu factura. Ten en cuenta el detalle de tus servicios y las fechas importantes.

<ion-card>
  <ion-card-header>
    <ion-card-title>Factura actual</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  	Sr. {{dataenlocal.name}} {{dataenlocal.surname}}
  	<p>Dirección de facturación</p>
  	<p>{{dataenlocal.address}}</p>
    <ion-list>
  <ion-item lines="none">
    <ion-label>Fecha de pago oportuno</ion-label>
    <ion-note slot="end">{{facturaactual.pagar_antesdel}}</ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Total a pagar</ion-label>
    <ion-note slot="end">$ {{facturaactual.total}}</ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Referencia del pago</ion-label>
    <ion-note slot="end">{{facturaactual.orden_id}}</ion-note>
  </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-list>
  <ion-item lines="none">
    <ion-label>Fecha de inicio del plan</ion-label>
    <ion-note slot="end">{{planactual.fecha_instalado}}</ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Fecha de corte del plan</ion-label>
    <ion-note slot="end">{{facturaactual.fecha_corte}}</ion-note>
  </ion-item>
</ion-list>
  </ion-card-content>
</ion-card>
<br>
<ion-button (click)="payWithPayu()"  expand="block">Paga tu factura aquí</ion-button>
<br>

<ion-card *ngIf="lengthdatos>1">
  <ion-card-header>
    <ion-card-title>Último pago en línea</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
  <ion-item lines="none" >
    <ion-label>Fecha del pago</ion-label>
    <ion-note slot="end" *ngIf="datos[1] && datos[1].historial_pago[0]">{{datos[1].historial_pago[0].date}}</ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Valor del pago</ion-label>
    <ion-note slot="end" *ngIf="datos[1] &&  datos[1].historial_pago[0]">$ {{ datos[1].historial_pago[0].amount!="" &&
    datos[1].historial_pago[0].amount!=null && datos[1].historial_pago[0].amount!="null" ?datos[1].historial_pago[0].amount:0.00 }}</ion-note>
  </ion-item>
</ion-list>


<ion-button [routerLink]="['/historialpagos']"  expand="block" fill="outline">Ver histórico de pagos</ion-button>

  </ion-card-content>
</ion-card>

</ion-content>
