<ion-header>
  <ion-toolbar>
    <ion-title>Plan</ion-title>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
{{datos.nombreplan_internet}}
<p>{{datos.descripcionplan_internet}}</p>

<!-- Default Note -->
<ion-note>TU PLAN INCLUYE</ion-note>

<!-- Notes in a List -->
<ion-list>
  <ion-item>
    <ion-label>Velocidad de Bajada</ion-label>
    <ion-note slot="end">{{datos.velocidad_bajada}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Velocidad de Subida</ion-label>
    <ion-note slot="end">{{datos.velocidad_subida}}</ion-note>
  </ion-item>

</ion-list>
<br>
<ion-button [routerLink]="['/facturacion']" [queryParams]="{plan_install_id:datos.planes_instal_serv_id}" expand="block">Administrar facturas</ion-button>


</ion-content>

